{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    

    
    <form class="tela_login" method="POST">  {% csrf_token %}
        <h1>LOGIN</h1>
        <div class="message">
            {% if messages %}
                {% for message in messages %}
                    <h6>{{message}}</h6>
                {% endfor %}
            {% endif %}
        </div>
        <!-- <i class='fas fa-user'></i> -->
        <input class="name" name="username" type="text" placeholder="Usuário">
        <!-- <i class='fas fa-lock'></i> -->
        <input class="password" name="password" type="password" placeholder="Password">
        <button class="botao" type="submit">Entrar</button>
    </form>


</body>
</html>